<section class="section" id="token">
	<div class="row">
		<h2 class="title-h2">ИНВЕСТИЦИОННАЯ ПРИВЛЕКАТЕЛЬНОСТЬ</h2>

		<p class="text">В зависимости от размера собранных средств (реализованных токенов) будет произведен обратный ежегодный выкуп согласно такому плану: </p>

		<table class="table">
			<tr>
				<th>&nbsp;</th>
				<th>Количество NODE токенов</th>
				<th>Характеристика</th>
				<th>Годовой объем выкупаемых токенов, %</th>
			</tr>
			<tr>
				<td>Pre-ICO</td>
				<td>0,75 млн. шт.</td>
				<td>
					<ol>
						<li>Регистрация торговых марок и знаков в Европе и США (ноябрь 2017)</li>
						<li>Заявки на патенты Европа/США (технология) (декабрь 2017 – январь 2018)</li>
						<li>Испытания и сертификация Alpha Европа/США (декабрь 2017)</li>
						<li>Производство пробной партии Alpha (декабрь 2017 – январь 2018)</li>
						<li>Испытания и сертификация Eon Европа/США (январь 2018)</li>
						<li>Производство пробной партии Eon (январь 2018-февраль 2018)</li>
						<li>Заявки на патенты Европа/США (дизайн и модель) (март 2018)</li>
					</ol>
				</td>
				<td><b>&ndash;</b></td>
			</tr>
			<tr>
				<td>ICO</td>
				<td>10,0 млн. шт. (включая Pre-ICO)</td>
				<td>Производство Power pad, Power pod and Power station</td>
				<td>5%-20%</td>
			</tr>
		</table>

		<table class="table table_mob">
			<tr>
				<th>&nbsp;</th>
				<td>Pre-ICO</td>
				<td>ICO</td>
			</tr>
			<tr>
				<th>Количество <br>NODE токенов</th>
				<td>0,75 млн. шт.</td>
				<td>10,0 млн. шт. (включая Pre-ICO)</td>
			</tr>
			<tr>
				<th>Харак-ка</th>
				<td>
					<ol>
						<li>Регистрация торговых марок и знаков в Европе и США (ноябрь 2017)</li>
						<li>Заявки на патенты Европа/США (технология) (декабрь 2017 – январь 2018)</li>
						<li>Испытания и сертификация Alpha Европа/США (декабрь 2017)</li>
						<li>Производство пробной партии Alpha (декабрь 2017 – январь 2018)</li>
						<li>Испытания и сертификация Eon Европа/США (январь 2018)</li>
						<li>Производство пробной партии Eon (январь 2018-февраль 2018)</li>
						<li>Заявки на патенты Европа/США (дизайн и модель) (март 2018)</li>
					</ol>
				</td>
				<td></td>
			</tr>
			<tr>
				<th>Годовой объем <br>выкупаемых<br>токенов, %</th>
				<td>&ndash;</td>
				<td>5%-20%</td>
			</tr>

		</table>

		<p class="text">Ежегодный обратный выкуп будет рассчитываться по следующей формуле: «Объем проданных токенов NODE * 2 / Миллион»</p>

		<p class="text">То есть в случае достижения уровня продаж в 10 млн токенов NODE, у всех инвесторов, у которых после обратного выкупа на балансе будут токены NODE, получат дополнительно 20%.</p>

		<p class="text">Таким образом, инвестор может уже сейчас рассчитать гарантированную процентную прибыль, которую он будет получать ежегодно от выкупа токенов, вне зависимости от спроса токенов NODE на рынке. Соответственно, чем дольше инвестор держит токены, тем больше дохода он сможет получить. </p>

		<p class="text">Токены NODE, которые компания приобретет в результате обратного выкупа, будут распределены между существующими инвесторами пропорционально текущему количеству токенов на балансе на момент такого распределения.</p>

		<p class="text">В любой момент времени у покупателя будет возможность приобрести продукцию NODE с 25% скидкой по отношению к стоимости в фиатной валюте (USD) при условии оплаты токенами компании. Например, при фактической стоимости Power pad в  99,0USD, цена  покупки при оплате токенами  NODE составит 74,25 USD. Токены, которые компания приобретет в результате продажи своей продукции, будут сожжены, таким образом уменьшая их общее количество в обороте. </p>

		<h2 class="title-h2">ПРОГНОЗ СПРОСА НА ТОКЕНЫ NODE</h2>
		
		<p class="text">Минимум 50% покупок через прямой канал продаж будут произведены токенами. Общая планируемая доля прямых продаж – 20%. Расчетный годовой спрос в итоге составит 10 млн. токенов  общей стоимостью 8 млн. USD, без учета спекулятивной составляющей.  Это обеспечит минимум 2-х кратную оборачиваемость на вложенный рабочий капитал.</p>

		<table class="table-mod">
			<tr>
				<th>Сценарий <br> №</th>
				<th>Количество NODE tokens</th>
				<th>Годовой объем в USD</th>
				<th>Прямые продажи токенами,<br> 10% от оборота, USD</th>
				<th>Обратный выкуп, USD</th>
			</tr>
			<tr>
				<td>1</td>
				<td>2,5 млн. шт.</td>
				<td>15 млн. USD</td>
				<td>1,5 млн. USD</td>
				<td>0,125 млн. USD (5%)</td>
			</tr>
			<tr>
				<td>2</td>
				<td>5,0 млн. шт.</td>
				<td>30 млн. USD</td>
				<td>3 млн. USD</td>
				<td>0,5 млн. USD (10%)</td>
			</tr>
			<tr>
				<td>3</td>
				<td>10,0 млн. шт.</td>
				<td>60 млн. USD</td>
				<td>6 млн. USD</td>
				<td>2 млн. USD (20%)</td>
			</tr>
		</table>

		<table class="table-mod table-mod_mob">
			<tr> 
				<th>Сценарий <br>№</th>
				<td>1</td>
				<td>2</td>
				<td>3</td>
			</tr>
			<tr>
				<th>Количество <br>NODE tokens</th>
				<td>2,5 млн. шт.</td>
				<td>5,0 млн. шт.</td>
				<td>10,0 млн. шт.</td>
			</tr>
			<tr>
				<th>Годовой объем <br>в USD</th>
				<td>15 млн. USD</td>
				<td>30 млн. USD</td>
				<td>60 млн. USD</td>
			</tr>
			<tr>
				<th>Прямые продажи токенами,<br> 10% от оборота, USD</th>
				<td>1,5 млн. USD</td>
				<td>3 млн. USD</td>
				<td>6 млн. USD</td>
			</tr>
			<tr>
				<th>Обратный выкуп, USD</th>
				<td>0,125 млн. USD (5%)</td>
				<td>0,5 млн. USD (10%)</td>
				<td>2 млн. USD (20%)</td>
			</tr>

		</table>

		<div class="btn-wrap btn-wrap_center">
			<button class="btn btn_blue js-join-btn">Купить NODE</button>
		</div>

	</div>
</section>