<section class="section section_bg_blue" id="team">
	<div class="row row_wide">
		<h2 class="title-h2 title-h2_white">НАША КОМАНДА</h2>
		
		<div class="members">
			<div class="member__col">
				<div class="member">
					<div class="member__photo"> 
						<img src="img/members/member1.jpg" alt="">
					</div>
					<div class="member__name">Павел Зеленин</div>
					<div class="member__position">СЕО</div>

					<div class="member__info">Исследование и разработка новых керамических материалов, и способов хранения и передачи электрической энергии.</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member2.jpg" alt="">
					</div>
					<div class="member__name">Михаил Пан</div>
					<div class="member__position">Отдел продаж по Азии</div>

					<div class="member__info">Проектирование и интеграция  ИТ-решений для систем комплексной автоматизации. Разработка технической документации и консультации.</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member3.jpg" alt="">
					</div>
					<div class="member__name">Даниил Морозов</div>
					<div class="member__position">CFO</div>

					<div class="member__info">Кандидат экономичестких наук. Специализация в бюджетировании и  оперативном управленим проектом, а так же структурными подразделениями компании.</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member4.jpg" alt="">
					</div>
					<div class="member__name">Олег Пенский</div>
					<div class="member__position">Директор отдела по научно- исследовательской деятельности</div>

					<div class="member__info">Ученый и изобретатель в сфере механики и математического моделирования. Доктор технических наук, профессор университета, основоположник теории роботов с неабсолютной памятью. Автор более 100 научных публикаций, включая публикации в научных журналах США, Южной Кореи, Израиля, Индии.</div>
				</div>
			</div>

			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member5.jpg" alt="">
					</div>
					<div class="member__name">Ibtihaj Abrar</div>
					<div class="member__position">Дизайнер продукции</div>

					<div class="member__info">Многолетний опыт работы дизайнером продуктов в сфере технологии. Магистр графического дизайна и наружной рекламы. </div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member6.jpg" alt="">
					</div>
					<div class="member__name">Юлия Трубникова</div>
					<div class="member__position">Отдел продаж по Европе</div>

					<div class="member__info">Специалист в области финансов и бухгалтерии. Более 13-ти лет опыт работы в сфере финансовой аналитики, в таких компаниях как Лукойл и VISA. </div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member7.jpg" alt="">
					</div>
					<div class="member__name">Вадим Котов</div>
					<div class="member__position">Директор отдела по маркетингу</div>

					<div class="member__info">Человек с опытом работы на рынке ценных бумаг и блестящей карьерой в банковском секторе и страховании. Является специалистом в построении системы продаж и клиентских отношений. Эксперт в области оценки рисков и привлечения инвестиций. В последнее время основным направлением его профессиональных интересов является маркетинг. Более трех лет руководит созданной группой компаний, специализирующейся в интернет-продвижении бизнеса клиентов.</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member8.jpg" alt="">
					</div>
					<div class="member__name">Евгений Петрикин</div>
					<div class="member__position">Отдел продаж по ближневосточному рынку</div>

					<div class="member__info">Эксперт с опытом работы более 15-ти лет в сфере по управлению проектами, их изменением и корректировкой. Работаю  в тесном сотрудничестве с инженерными и межфункциональными командами. Свободно владею английским и русским языками, а так же базовым знанием немецкого языка. </div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member9.jpg" alt="">
					</div>
					<div class="member__name">Ирина Котова</div>
					<div class="member__position">Директор отдела продаж</div>

					<div class="member__info">Имеет опыт более 10-ти лет руководства в сфере банковского дела. Харизматична, обладает исключительной нацеленностью на результат и умением формировать для выполнения задачи боеспособную команду. Прекрасный аналитик и продажник. Постоянная ведущая рубрики "Обзор рынков" в программе "Итоги недели" на региональном канале РБК. </div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/members/member10.jpg" alt="">
					</div>
					<div class="member__name">Денис Коногоров </div>
					<div class="member__position">Директор отдела по привлечению инвестиций</div>

					<div class="member__info">Специалист в обрасти маркетинга, а так же магистр в сфере банковского дела и финансов. Опыт работы более 8 лет в таких компаниях, как АКБ УралФД и ООО Пермь-Инвест, в которых занимал руководящие посты. С 2012 года является директором ООО Пермь-Инвест.</div>
				</div>
			</div>

		</div>
	</div>
</section>