<!-- begin properties -->
<section id="products" class="section section_products">
	<div class="row">
		<h2 class="title-h2">НАШИ УСТРОЙСТВА, ЭТО:</h2>
		<div class="properties">
			<ul class="properties__list">
				<li class="properties__item property-item">
					<div class="property-item__img"><i class="icon-prop icon-prop-1"></i></div>
					<div class="property-item__title">Удобство расположения </div>
					<div class="property-item__descr">Меньше проводов и экономия пространства</div>
				</li>
				<li class="properties__item property-item">
					<div class="property-item__img"><i class="icon-prop icon-prop-2"></i></div>
					<div class="property-item__title">Эргономичность</div>
					<div class="property-item__descr">Можно передавать энергию на много устройств одновременно с любой мощностью</div>
				</li>
				<li class="properties__item property-item">
					<div class="property-item__img"><i class="icon-prop icon-prop-3"></i></div>
					<div class="property-item__title">Экономичность </div>
					<div class="property-item__descr">Высокий, по сравнению с остальными решениями, КПД (90%)</div>
				</li>
				<li class="properties__item property-item">
					<div class="property-item__img"><i class="icon-prop icon-prop-4"></i></div>
					<div class="property-item__title">Универсальность</div>
					<div class="property-item__descr">Технологии можно использовать в любой электронике</div>
				</li>
				<li class="properties__item property-item">
					<div class="property-item__img"><i class="icon-prop icon-prop-5"></i></div>
					<div class="property-item__title">Дизайн</div>
					<div class="property-item__descr">Стильный, гармоничный и современный дизайн. Удобное использование и хранение.
</div>
				</li>

			</ul>
		</div>
		<div class="products">
			<div class="products__descr">Процесс создания продуктов с использованием технологий от Node прошел стадию от экспериментальных  исследований до создания и успешного финишного тестирования прототипов устройств. Наши инвесторы получают возможность не только приумножить капитал, но и стать первыми владельцами таких устройств:</div>

			<ul class="products__list">
				<li class="products__item product">
					<div class="product__inner">
						<div class="product__img"><img src="img/device.png" alt=""></div>
						<div class="product__title">Alpha</div>
						<div class="product__body">
							<p>Гибкий стильный коврик для беспроводной зарядки электронных устройств.</p>
							<p>Большая площадь зарядной поверхности, позволяет заряжать несколько устройств, располагая их рядом, или даже друг на друге.</p>
						
							<div class="product__characteristics">
								<h3>Технические характеристики:</h3>
								<ul>
									<li>- Площадь поверхности - 300х200мм</li>
									<li>- Передаваемая мощность - до10Вт</li>
									<li>- Питание USB - 5В</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="products__item product">
					<div class="product__inner">
						<div class="product__img"><img src="img/device2.png" alt=""></div>
						<div class="product__title">Eon</div>
						<div class="product__body">
							<p>Беспроводная зарядная станция для настольного размещения</p>
							<p>Имеет небольшие габариты и способна передавать энергию в радиусе до 1 метра.</p>
							<p>Устройство обеспечивает заряд нескольких устройств одновременно и оснащена автоматическим регулированием мощности.</p>
						
							<div class="product__characteristics">
								<h3>Технические характеристики:</h3>
								<ul>
									<li>- Мощность - до 150Вт</li>
									<li>- Питание - 220В</li>
									<li>- Габариты – 100 х70мм</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="products__item product">
					<div class="product__inner">
						<div class="product__img"><img src="img/device3.png" alt=""></div>
						<div class="product__title">Wireless Power Station</div>
						<div class="product__body">
							<p>Беспроводная зарядная станция средней мощности для напольного/настенного размещения. Позволяет заряжать приборы в радиусе до 30 метров.</p>
							<p>Может быть использована для питания и заряда бытовой техники. Автоматическое регулирование мощности. Дистанционное управление, поддержка IoT.</p>
							<div class="product__characteristics">
								<h3>Технические характеристики:</h3>
								<ul>
									<li>- Мощность - до1кВт</li>
									<li>- Питание - 220В</li>
								</ul>
							</div>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
</section>
<!-- end properties -->