<section class="section" id="road_map">
	<div class="row row_center">
		<h2 class="title-h2 title-h2">ROADMAP</h2>

		<div class="road-container"> 
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period">10/2012 г – 05/2016 г </div>
							<div class="road__info">Инициатор проекта и единомышленники проводят исследования в области полупроводниковых и керамических материалов и их взаимодействия с электромагнитными высокочастотными импульсными полями.</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>

		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">06/2016 г </div>
							<div class="road__info">На основании полученных результатов принято решение о коммерциализации технологии.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period">06/2016 г – 03/2017 г</div>
							<div class="road__info">Разрабатаны схемы, технологические решения, подобраны компоненты.</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>

		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">04/2017 г </div>
							<div class="road__info">Успешное финишное тестирование нескольких прототипов устройств.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period">05/2017 г – 06/2017 г </div>
							<div class="road__info">Разработан концепт дизайна, подобраны материалы и технологии для изготовления тестовой партии.</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">05/2017 г</div>
							<div class="road__info">Юридическая регистрация компании Node.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period">06/2017 г – 09/2017 г</div>
							<div class="road__info">Переговоры  о финансировании, подготовка к выходу на ICO.</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">10/2017 г</div>
							<div class="road__info">Создание корпоративного сайта и презентационных материалов, продвижение в SMM. Создание бота Node.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period">11/11/2017 г – 25/12/2017 г</div>
							<div class="road__info">Проведение pre-ICO.</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">12/2017 г- 03/2018 г</div>
							<div class="road__info">Патентное оформление, сертификация продукции, начало производства коммерческой партии.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period">01/2018 г – 03/2018 г</div>
							<div class="road__info">Проведение ICO.</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
		<div class="road-container road-container_mb">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">04/2018 г</div>
							<div class="road__info">Выход токена NODE на биржи</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">03/2018 г – 06/2018 г</div>
							<div class="road__info">Запуск производства Alpha</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period">05/2018 г – 10/2018 г </div>
							<div class="road__info">Запуск производства Eon</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__section">
							<div class="road__period road__period_left">07/2018 г – 05/2019 г</div>
							<div class="road__info">Запуск производства Wireless Power Station </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>