<section class="section section_bg_blue" id="token">
	<div class="row">
		<h2 class="title-h2 title-h2_white">ТОКЕН</h2>
		
		<p class="text text_white">На данный момент закончена фаза R&D, изготовления прототипов и проведения тестов. Тесты опытных образцов продемонстрировали полное соответствие заявленным характеристикам. Общие инвестиции в проект составили 0.Х млн. USD. </p>
		<p class="text text_white">Токен компании дает уникальную возможность участвовать в революционном технологическом start-up, формирующий новую рыночную нишу устройств беспроводной передачи энергии, как для частного, так и коммерческого использования. Данный раунд привлечения средств направлен на финансирование производства и организации маркетинга/продаж устройств компании. </p>
		<p class="text text_white">Текущая стадия развития позволяет инвестировать в проект сейчас, когда уже нивелированы риски, связанные с работоспособностью продукта и одновременно существует максимальный потенциал прироста вложенных средств, возможность, которая обычно доступна только бизнес ангелам и венчурным капиталистам.
</p>

	</div>
</section>