<!-- BEGIN section top-screen -->
<div class="section top-screen" id="id_home">
	<div class="section-bg" style="background-image: url(img/top-bg.png);"></div>
	<div class="row row_clear">
		<div class="section__parts">
		
			<div class="section__part section__part-left">
				<div class="section__part-top">
					<div class="pre-info">
						<h2 class="pre-info__title title-h3">РАЗРАБОТКА СИСТЕМ И УСТРОЙСТВ <span>БЕСПРОВОДНОЙ</span> ПЕРЕДАЧИ И ХРАНЕНИЯ ЭЛЕКТРОЭНЕРГИИ </h2>
						
						<div class="pre-info__body">Компания Node выходит на ICO с целью коммерциализации собственных уникальных разработок, чтобы сделать их доступными всему миру</div>
					</div>
				</div>
				<div class="section__part-bottom">
					<div class="sold">
						<div class="sold__parts">
							<div class="sold__title">УЖЕ ПРОДАНО:</div>
							<div class="sold__field js-timer-tokken">00 млн</div>
						</div>
						<div class="sold__parts">
							<div class="sold__title">1 NODE = 1,0 USD</div>
							<div class="sold__field">10 млн</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section__part section__part-right">
				<div class="section__part-top">
					<div class="title-h3 title-h3_mb">До начала Pre-ICO осталось:</div>
					<div class="timer">
		                <div class="timer__body">
		                  <div class="timer__cols js-timer">
		                    <div class="timer__col">
		                      <div class="timer__item js-timer-days">17</div>
		                      <div class="timer__caption">дни</div>
		                    </div>
		                    <div class="timer__col">
		                      <div class="timer__item js-timer-hour">20</div>
		                      <div class="timer__caption">часы</div>
		                    </div>
		                    <div class="timer__col">
		                      <div class="timer__item js-timer-min">05</div>
		                      <div class="timer__caption">минуты</div>
		                    </div>
		                  </div>
		                </div>
					</div>
				</div>
				<div class="section__part-bottom">
					<div class="btn-wrap">
						<div class="btn-label">Воспользоваться преимуществом раннего участия и получить 50% бонус!</div>
						<button class="btn js-join-btn">УЧАСТВОВАТЬ</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END section top-screen -->